@charset "UTF-8";


body{
	text-align: center;
	font-family: muli;
	font-size: 25px;
	margin: 0;
	padding: 0;
	background: #d1f5ff;
	font-style: normal;
	font-weight: 300;
}
section{
	margin: 200px 50px 0 50px;
}
#headerSection{
	background: #18c9f4;
	border: 15px solid #18c9f4;
	font-size: 75%;
}
li{
	list-style-type: none;
	display: inline;
	margin: 45px;
	padding: 0;
	text-align: left;
}
.logo{
	margin: -4% 8% -35px -10%;
	height: auto;
}
.pageLinks:link{
	font-weight: bold;
	color: #2C90ED;
	text-decoration: none;
}
.pageLinks:visited{
	font-weight: bold;
	color: #2C90ED;
}
.pageLinks:hover{
	font-weight: bold;
	color: #4763D9;
}
/*TODO*/
#bannerSection{
	border-left: 15px solid #98d2e1;
	border-right: 15px solid #98d2e1;
	margin: 0;
	background: linear-gradient(to right, #98d2e1 , white, #98d2e1);
}
#bannerPic{
	width: 1000px;
}
#aiSection{
	text-align: left;
}
#usesAndBenefitsHeader{
	margin-left: 30px;
	margin-right: 30px;
	text-align: center;
	border: 5px solid #18c9f4;
	background: #18c9f4;
	margin-bottom: -30px;
}
#usesAndBenefitsDescription{
	text-align: left;
	border: 10px solid #18c9f4;
	border-top-style: none;
	margin: 30px;
	padding-left: 0;
	padding: 20px 0 5px 20px;
	background: #95daed;
}
#safetyAndCostsHeader{
	margin-left: 30px;
	margin-right: 30px;
	text-align: center;
	border: 5px solid #18c9f4;
	background: #18c9f4;
	margin-bottom: -30px;
}
#safetyAndCostsDescription{
	text-align: left;
	border: 10px solid #18c9f4;
	border-top-style: none;
	margin: 30px;
	padding-left: 0;
	padding: 20px 0 10px 20px;
	background: #95daed;
}
.orderedItems{
	display: block;
}

#sourcesHeader{
	text-align: center;
	border: 5px solid #18c9f4;
	background: #18c9f4;
}
#sourcesContainer{
	position: absolute;
	background: #95daed;
	margin-top: -32px;
}
#sourcesList{
	text-align: left;	
	padding-left: 0;
}
.unorderedItems{
	display: block;
}
@media (max-width: 640px){
	body{
		
	}
	section{
		margin: initial;
	}
	li{
		display: list-item;
		margin: 20px;
		font-size: 25px;
	}
	img{
		height: 75%;
		width: 75%;
	}
	#bannerPic{
		width: 100%;
	}
}


